fieldset {
	line-height: 2;
}

.list {
	height: 140px;
}

.age, .country {
	width: 90px;
}

.technologies, .finance {
	font-weight: bold;
}

.webMaster, 
.databaseAdministrator,
.computerAidedDesign,
.economicPlanning,
.managementAccounting,
.budgetingAndPlanning {
	text-indent: 15px;
}

.information {
	width: 300px;
	height: 150px;
	color: gray;
}

.end {
	line-height: 2;
}
