.even1, .even2, .even3, .even4 {
	background: #e8edf4;
}

.odd1, .odd2, .odd3, .odd4 {
background: #f2f6fa;
}

#name1, #name2, #name3, #name4,
#name5, #name6, #name7, #name8 {
	text-transform: capitalize;
}
