.body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg,#e4e5d8, #69ecba);
}

.slider-container {
  position: relative;
  max-width: 70%;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider-content {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.slide.slide_central {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  transform: translateX(0);
}

.slide.slide_left,
.slide.slide_right {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

#toPreviousPhoto {
  position: absolute;
  left: 50px;
  top: 40%;
  background-color: transparent;
  border: 2px solid transparent;
  outline: 1px solid rgb(199, 144, 61);
  cursor: pointer;
}

#toNextPhoto {
  position: absolute;
  right: 50px;
  top: 40%;
  background-color: transparent;
  border: 2px solid transparent;
  outline: 1px solid rgb(199, 144, 61);
  cursor: pointer;
}

#toPreviousPhoto:hover,
#toNextPhoto:hover {
  border-color: red;
}
  
#arrow {
    color: #803131;
    font-size: 200px;
}

.slide.slide_left.slide_to-left {
  animation: left-slide-to-left-shift 1s;
}

.slide.slide_left.slide_to-right {
  animation: left-slide-to-right-shift 1s;
}

.slide.slide_right.slide_to-left {
  animation: right-slide-to-left-shift 1s;
}

.slide.slide_right.slide_to-right {
  animation: right-slide-to-right-shift 1s;
}

.slide.slide_central.slide_to-left {
  animation: central-slide-to-left-shift 1s;
}

.slide.slide_central.slide_to-right {
  animation: central-slide-to-right-shift 1s;
}

@keyframes left-slide-to-left-shift {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}

@keyframes left-slide-to-right-shift {
  from {
    transform: translateX(-200%);
  }
  
  to {
    transform: translateX(-100%);
  }
}

@keyframes right-slide-to-left-shift {
  from {
    transform: translateX(200%);
  }
  
  to {
    transform: translateX(100%);
  }
}

@keyframes right-slide-to-right-shift {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(100%);
  }
}

@keyframes central-slide-to-left-shift {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0);
  }
}

@keyframes central-slide-to-right-shift {
  from {
    transform: translateX(-100%);
  }
  
  to {
    transform: translateX(0);
  }
}
